<div class="loginGroup">

<p class="socLog"><i class="fa fa-eye"></i> <span class="signup">Sign-In</span> With Your <br/> Social Media Account</p>
      
            <span class="cool coverFacebook">

                <label class="facebook">
                <%= image_tag("fb.svg", :class => "f", :width => "20", :height => "20") %>
                <b class="micro"><sub class="fb">Facebook<sub></b>
                </label>
            </span>     


            <span class="cool covereMail">

              <label class="email">
              <%= image_tag("mail.svg", :class => "e", :width => "20", :height => "20") %>
              <b class="micro"><sub class="mail">e-Mail<sub></b>
              </label>    

            </span>

            <span class="cool coverLinkedin">
                <label class="linkedin">
                <%= image_tag("in.svg", :class => "l", :width => "20", :height => "20") %>
                <b class="micro"><sub class="in">LinkedIn<sub></b>
                </label>
            </span>

            <span class="cool coverTwitter">
                <label class="twitter">
                <%= image_tag("tw.svg", :class => "t", :width => "24", :height => "24") %>
                <b class="micro"><sub class="tw">Twitter<sub></b>     
                </label>

            </span>
        


            </span>
            <a href="/auth/google_oauth2">
            <span class="cool coverGmail">

                   <label class="gmail">
                  <%= image_tag("gMail.svg", :class => "g", :width => "20", :height => "20") %>
                  <b class="micro"><sub class="googl">Gmail<sub></b>
                  </label>
            </span></a>



        <span class="cool coverWhatsapp">

            <label class="whatsapp">
            <%= image_tag("whats.svg", :class => "w", :width => "20", :height => "20") %>
            <b class="micro"><sub class="whats">WhatsApp<sub></b>
            </label>
        </span>



<!-- div class="row no-gutters" --><!-- Top row -->
<!-- All content -->
  </div>

